In [1]:
import pandas as pd
import json
import requests
from IPython.display import IFrame

In [2]:
threempats = []
for i in range(0, 8):
    start_year = 2010+i
    end_year = 2011+i
    url_patents="""https://www.patentsview.org/api/patents/query?q={"_and":[{"_begins":{"assignee_organization":"3M Innovative Properties Company"}},{"_gte":{"patent_date":"%d-01-01"}},{"_lte":{"patent_date":"%d-01-01"}}]}""" % (start_year, end_year)
    r = requests.get(url=url_patents)
    threempats.append(r.json()['total_patent_count'])

In [3]:
bayerpats=[]
for i in range(0,8):
    start_year=2010+i
    end_year = 2011+i
    url_patents="""https://www.patentsview.org/api/patents/query?q={"_and":[{"_begins":{"assignee_organization":"Bayer"}},{"_gte":{"patent_date":"%d-01-01"}},{"_lte":{"patent_date":"%d-01-01"}}]}""" % (start_year, end_year)
    r = requests.get(url=url_patents)
    bayerpats.append(r.json()['total_patent_count'])

In [4]:
googlepats=[]
for i in range(0,8):
    start_year=2010+i
    end_year = 2011+i
    url_patents="""https://www.patentsview.org/api/patents/query?q={"_and":[{"_begins":{"assignee_organization":"Google"}},{"_gte":{"patent_date":"%d-01-01"}},{"_lte":{"patent_date":"%d-01-01"}}]}""" % (start_year, end_year)
    r = requests.get(url=url_patents)
    googlepats.append(r.json()['total_patent_count'])

In [5]:
bayer = pd.read_csv('bayer.csv')
bayer.columns

Index(['Date', ' Close/Last', ' Volume', ' Open', ' High', ' Low'], dtype='object')

In [6]:
years=[10,11,12,13,14,15,16,17]

In [7]:
for row in range(len(bayer)):
    if str(bayer.iat[row,0])[-2:] not in years:
        bayer.drop(row)
    
    bayer.iat[row,0]=int(str(bayer.iat[row,0])[-2:])
bayer.drop_duplicates(subset=['Date'], inplace=True)

In [8]:
bayer.drop([0,10,262], inplace=True)

In [9]:
stocklist = bayer[' Close/Last']
stocklist=list(stocklist)
stocklist.reverse()
bayerpats

[486, 464, 628, 549, 560, 633, 559, 548]

In [10]:
for i in range(len(stocklist)):
    stocklist[i]=float(stocklist[i].strip(' $'))

In [11]:
bayeravg=sum(stocklist)/len(stocklist)
for x in range (len(stocklist)):
    stocklist[x]*=100
    stocklist[x]/=bayeravg
bayeravg=sum(bayerpats)/len(bayerpats)
for x in range (len(bayerpats)):
    bayerpats[x]*=100
    bayerpats[x]/=bayeravg

In [12]:
bayer2=pd.DataFrame({"Stocks": stocklist, "Patents": bayerpats}, index=years)
bayer2.to_csv('bayergraph.csv')
bayer2

        Stocks     Patents
10   67.816446   87.824712
11   58.978861   83.849108
12   88.671668  113.485430
13  131.269566   99.209397
14  126.499489  101.197199
15  115.401479  114.388977
16   96.399932  101.016490
17  114.962558   99.028688

In [13]:
display(IFrame('https://public.flourish.studio/visualisation/1243783/', width=900, height = 800))

In [14]:
threem = pd.read_csv('3M.csv')
threem

             date      open      high       low     close   volume
0      1970-01-02    6.8513    6.8906    6.8438    6.8513    72000
1      1970-01-05    6.8594    6.8988    6.8594    6.8906   446400
2      1970-01-06    6.8906    6.9613    6.8825    6.9613   176000
3      1970-01-07    6.9613    7.0156    6.9450    7.0000   164800
4      1970-01-08    7.0000    7.1094    6.9844    7.0938   304000
...           ...       ...       ...       ...       ...      ...
12618  2020-01-09  181.5100  181.5900  179.7600  181.2000  2746309
12619  2020-01-10  181.6100  182.1800  180.1400  180.4700  2103818
12620  2020-01-13  180.9400  182.2300  180.3600  180.9200  2090455
12621  2020-01-14  180.9200  182.5450  180.2100  181.3700  2911234
12622  2020-01-15  181.4200  181.8600  179.1800  179.7800  2482218

[12623 rows x 6 columns]

In [15]:
for row in range(len(threem)):
    if str(threem.iat[row,0])[-2:] not in years:
        threem.drop(row)
    threem.iat[row,0]=int(str(threem.iat[row,0])[2:4])
threem.drop_duplicates(subset=['date'], inplace=True)

In [16]:
threem=threem[(threem['date']>=10) & (threem['date']<=17)]

In [17]:
stocklist=threem['close']

stocklist=list(stocklist)

In [18]:
threemavg=sum(stocklist)/len(stocklist)
for x in range (len(stocklist)):
    stocklist[x]*=100
    stocklist[x]/=threemavg
threemavg=sum(threempats)/len(threempats)
for x in range (len(threempats)):
    threempats[x]*=100
    threempats[x]/=threemavg

In [19]:
threemstocks=pd.DataFrame({"Stocks": list(stocklist), "Patents": threempats}, index=years)

In [20]:
threemstocks.to_csv('threemstocks.csv')

In [21]:
threemstocks

        Stocks     Patents
10   68.109195   97.659709
11   71.202084   90.575585
12   68.494780   85.178157
13   77.757040  108.960573
14  113.321164  103.057137
15  134.594007   94.623656
16  120.450397  106.430529
17  146.071333  113.514653

In [22]:
display(IFrame('https://public.flourish.studio/visualisation/1243779/', width=900, height = 800))

In [23]:
google = pd.read_csv('google_stocks.csv')
google.columns

Index(['date', 'open', 'high', 'low', 'close', 'volume'], dtype='object')

In [24]:
for row in range(len(google)):
    if str(google.iat[row,0])[-2:] not in years:
        google.drop(row)
    google.iat[row,0]=int(str(google.iat[row,0])[2:4])
google.drop_duplicates(subset=['date'], inplace=True)

In [25]:
google=google[(google['date']>=10) & (google['date']<=17)]

In [26]:
stocklist=google['close']

stocklist=list(stocklist)
googlepats

[282, 428, 1212, 1879, 2677, 3356, 3395, 2889]

In [27]:
googleavg=sum(stocklist)/len(stocklist)
for x in range (len(stocklist)):
    stocklist[x]*=100
    stocklist[x]/=googleavg
googleavg=sum(googlepats)/len(googlepats)
for x in range (len(googlepats)):
    googlepats[x]*=100
    googlepats[x]/=googleavg
googlepats

[13.996773793274599,
 21.243330438019605,
 60.15634694130785,
 93.2621913388758,
 132.87008313686562,
 166.57153492989204,
 168.50725896513214,
 143.39248045663234]

In [28]:
googlestocks=pd.DataFrame({"Stocks": list(stocklist), "Patents": threempats}, index=years)
googlestocks.to_csv('googlestocks.csv')

In [29]:
display(IFrame('https://public.flourish.studio/visualisation/1243330/', width=900, height = 800))